<div class="jumbotron jumbotron-black">
	<h1>Up the irons!</h1>
	<p class="lead">
		<img src="http://albertomiranda.com.ar/img/me.jpg" alt="I'm Bert!"><br>
		Always having fun with new development tools! \m/
	</p>
</div>

<div class="row marketing">
	<h4>Wistia Video Uploader</h4>
	<p>
		This app demonstrates how to upload videos to 
		<a href="http://wistia.com" target="_blank">Wistia</a> using 
		<a href="https://angularjs.org/" target="_blank">AngularJS</a> and 
		<a href="https://github.com/blueimp/jQuery-File-Upload" target="_blank">Jquery-File-Upload</a>.

		The video processing indicator uses 
		<a href="http://angular-ui.github.io/bootstrap/#/progressbar" target="_blank">UI Bootstrap's progress bar</a>.
	</p>

	<h4>Author</h4>
	<p>Made with love by <strong>Alberto Miranda</strong>.</p>
	<p>
		If you're interested in knowing more about me or contacting me, please, check
		<a href="http://albertomiranda.com.ar" target="_blank">my website</a> for more info.
	</p>
</div>
